doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="style.scss")
    body
        header
            nav
                ul
                    li
                        a(href="https://www.youtube.com/@azamatnigmatullin1299/videos") Youtube
                    li
                        a(href="https://github.com/ngmAzamat") Github
                    li
                        a(href="https://www.frontendmentor.io/profile/ngmAzamat") Frontendmentor
    script(src="index.ts")
